body {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.gallery {
  max-width: 1440px;
  padding: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
}
